@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:700|Montserrat");
.enter1 {
  -webkit-animation: come 0.75s 1 0.5s forwards;
  animation: come 0.75s 1 0.5s forwards;
  opacity: 0; }

.enter2 {
  -webkit-animation: come 0.75s 1 0.75s forwards;
  animation: come 0.75s 1 0.75s forwards;
  opacity: 0; }

@-webkit-keyframes come {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes come {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #333;
  background: #fefff9;
  margin: 0;
  padding: 0; }

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 0%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 50%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 33.33%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
@media (min-width: 300px) {
  .container {
    width: 100%; } }

@media (min-width: 1200px) {
  .no-hd {
    display: none; } }

@media (min-width: 300px) {
  .hd-only {
    display: none; } }
@media (min-width: 1200px) {
  .hd-only {
    display: block; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.8rem; } }
p {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.3rem; }
  @media (min-width: 300px) {
    p {
      font-size: 1.7rem;
      word-spacing: 0.15rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; } }
  @media (min-width: 1000px) {
    p {
      font-size: 1.5rem;
      word-spacing: 0.1rem;
      line-height: 2.5rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; } }
  @media (min-width: 1200px) {
    p {
      font-size: 1.5rem;
      word-spacing: 0.15rem;
      line-height: 2.5rem; } }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  cursor: pointer;
  text-decoration: none; }

:focus {
  background-color: transparent;
  outline: none; }

button,
.button {
  width: 100%; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem; }

.u-full-width {
  width: 100%;
  height: auto;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

body {
  background: #fff; }

#content {
  position: relative; }

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 8rem; }

#lightbox img {
  max-height: 72vh;
  background: #fff;
  padding: 1rem; }

aside {
  top: 0;
  left: 0;
  color: #333;
  box-sizing: border-box;
  padding: 3.5rem; }
  @media (min-width: 300px) {
    aside {
      width: 100%;
      position: relative;
      height: auto; } }
  @media (min-width: 750px) {
    aside {
      width: 35%;
      position: fixed;
      height: 100%; } }
  @media (min-width: 1000px) {
    aside {
      width: 20%; } }
  @media (min-width: 1200px) {
    aside {
      width: 20%; } }

.profile-pic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 2rem;
  padding: 0 3rem;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.entry-summary {
  padding: 0rem;
  margin: 0;
  line-height: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

@media (min-width: 300px) {
  .content {
    width: 100%;
    margin: 0; } }
@media (min-width: 750px) {
  .content {
    width: 65%;
    margin: 0 35%; } }
@media (min-width: 1000px) {
  .content {
    width: 80%;
    margin: 0 20%; } }
@media (min-width: 1200px) {
  .content {
    width: 80%;
    margin: 0 20%; } }
.content figure {
  display: inline-block;
  margin: 0;
  float: left;
  margin-bottom: 0;
  padding: 0;
  position: relative; }
  @media (min-width: 300px) {
    .content figure {
      width: 100%; } }
  @media (min-width: 1000px) {
    .content figure {
      width: 33.333%; } }
  .content figure img {
    vertical-align: top; }
  .content figure figcaption {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #7855e7;
    opacity: 0;
    text-align: center; }
    .content figure figcaption .title {
      font-size: 1.8rem;
      color: #fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .content figure figcaption:hover {
      opacity: 1; }

.post {
  max-width: 1280px; }
  .post__text {
    padding-left: 5rem;
    margin-top: 3rem; }
  .post article {
    float: left;
    margin-bottom: 5rem; }
    @media (min-width: 300px) {
      .post article {
        padding: 3rem; } }
    @media (min-width: 750px) {
      .post article {
        padding: 0 5rem 0 0; } }
  .post .social-shares {
    padding: 0;
    margin-right: 4%;
    list-style: none; }
    .post .social-shares li {
      width: 40px;
      display: inline-block;
      margin-right: 1rem; }
  .post__tags a {
    color: rgba(35, 31, 32, 0.8);
    font-size: 1.35rem;
    border-bottom: 1px solid #fffef9;
    white-space: nowrap; }

.socials {
  bottom: 4rem;
  margin: 0; }
  @media (min-width: 300px) {
    .socials {
      position: relative;
      left: 10%;
      bottom: 0; } }
  @media (min-width: 750px) {
    .socials {
      margin-left: 0;
      position: absolute;
      left: 2rem; } }
  .socials li {
    display: inline-block;
    width: 25px;
    margin: 3rem 0.8rem; }
    .socials li img {
      width: 100%;
      opacity: 0.7; }
      .socials li img:hover, .socials li img a:hover {
        opacity: 1;
        border-bottom: none; }

#nav-below {
  margin-bottom: 9rem; }
  @media (min-width: 300px) {
    #nav-below {
      margin-left: 3rem;
      margin-right: 3rem; } }
  @media (min-width: 750px) {
    #nav-below {
      margin-left: 0rem;
      margin-right: 0rem; } }

.nav-next a, .nav-previous a {
  background: #333;
  padding: 0.8rem;
  color: white;
  border: 2px solid #333;
  margin-bottom: 4%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-next a:hover, .nav-previous a:hover {
    color: #333;
    background: none; }

@media (min-width: 300px) {
  .center_me {
    position: relative;
    top: 0;
    transform: translateY(); } }
@media (min-width: 1000px) {
  .center_me {
    position: relative;
    top: 40%;
    transform: translateY(-40%); } }

.overlay {
  position: absolute;
  background-color: #7855e7;
  color: white;
  padding: 1rem;
  font-weight: 700;
  left: 1rem;
  top: 1rem; }

.size-full {
  width: 100%;
  height: auto; }

.menu {
  list-style: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 0; }
  .menu li {
    margin: 0;
    padding: 0; }
    .menu li a {
      color: #333; }
      .menu li a:hover {
        color: #7855e7; }
  .menu > li.current-menu-item > a {
    color: #7855e7; }

.splash {
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .splash span {
    display: block;
    width: 100%;
    height: 100%;
    background: #7855e7;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .splash span h2 {
      font-size: 2rem;
      color: #fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
    .splash span:hover {
      opacity: 1; }

.no-feat {
  margin-top: 3rem; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/*# sourceMappingURL=main.css.map */
